* linguist-vendored

*.md linguist-vendored = true
*.md linguist-detectable = true
*.md linguist-language = Markdown
*.md linguist-documentation = false

*.py linguist-vendored = true
*.py linguist-detectable = true
*.py linguist-language = Python
*.py linguist-documentation = false
