*.js linguist-vendored
*.json linguist-vendored
*.css linguist-vendored

*.md linguist-detectable=true
*.md linguist-language=Markdown
*.md linguist-documentation=false

*.ipynb linguist-detectable=true
*.ipynb linguist-language=Python
*.ipynb linguist-documentation=false
