* linguist-vendored

*.md linguist-vendored = false
*.md linguist-detectable =true
*.md linguist-language = Markdown
*.md linguist-documentation = false

*.py linguist-vendored = false
*.py linguist-detectable =true
*.py linguist-language = Python
*.py linguist-documentation = false
